<div class="section group">

	<!-- Currently playing song -->
	<div class="section group">

		<h3 style="text-align: center">Currently Playing <img style="margin-left: 10px" src="/playing.jpg"></img>
		<input type="submit" type="button" class="btn btn-warning" value="Play/Pause" id="playpause"></input>
		<input type="submit" type="button" class="btn btn-success" value="Next" id="next"></input>
		</h3>
		<h4 id="playing-<%= @@playing.id %>" style="text-align: center"><%= @@playing.artist %> - <%= @@playing.name %></h4>

		<p style="text-align: center">
			<img id="playingImage" src="<%= @@playing.imagefullsize["url"] %>"></img>
		</p>

		<h3 style="margin-top: 20px; margin-bottom: 20px">Up Next...</h3>

		<!-- Display voted songs -->

		<% unless (@@voted.size() + @@other.size()).eql? 0 %>
		<table id="tracks" class="display" cellspacing="0" width="100%">

			<thead>
			   <th>Cover</th>
			   <th>Artist</th>
			   <th>Track</th>
			   <th>Length (secs)</th>
			   <th>Explicit</th>
			   <th>No. Votes</th>
			   <th>Vote</th>
			</thead>

			<tbody>
				<% @@voted.each_key do |t| %>

					<tr id="<%= @@voted[t].id %>">	
						<td>								
							<img src="<%= @@voted[t].imagepreview["url"] %>"></img>
						</td>
						<td id="artist" style="font-weight: bold"><%= @@voted[t].artist %></td>
						<td id="title"><%= @@voted[t].name %></td>
						<td><%= @@voted[t].duration_ms / 1000 %></td>
						<td>
							<% if @@voted[t].explicit.eql? true %>
								<img src="/explicit.png"></img>
							<% end %>
						</td>
						<td><%= @@voted[t].votes.size() %></td>
						<td>
							<% if !@@voted[t].votes.include? request.ip %>

								<form action="/vote" method="POST">

									<input type="hidden" name="vote" value="<%= t %>">
									<input type="submit" id="" type="button" class="btn btn-success" value="vote up"></input>

								</form>

							<% end %>
						</td>
					</tr>

				<% end %>

				<!-- Display other (songs that have not been voted on -->
				<% @@other.each_key do |t| %>

					<tr id="<%= @@other[t].id %>">	
						<td id="url"><img src="<%= @@other[t].imagepreview["url"] %>"></img></td>
						<td id="artist" style="font-weight: bold"><%= @@other[t].artist %></td>
						<td id="title"><%= @@other[t].name %></td>
						<td><%= @@other[t].duration_ms / 1000 %></td>
						<td id="explicit">
							<% if @@other[t].explicit.eql? true %>
								<img src="/explicit.png"></img>
							<% end %>
						</td>
						<td id="votes"><%= @@other[t].votes.size() %></td>
						<td>
							<% if !@@other[t].votes.include? request.ip %>

								<form action="/vote" method="POST">

									<input type="hidden" name="vote" value="<%= t %>">
									<input type="submit" id="" type="button" class="btn btn-success" value="vote up"></input>

								</form>

							<% end %>
						</td>
					</tr>

				<% end %>

			</tbody>

		</table>
		<% else %>
			<h4 id="nextmessage">End of playlist</h4>
		<% end %>

		<% unless @@played.size().eql? 0 %>
		<h3 style="margin-top: 60px; margin-bottom: 20px">Already Played...</h3>

		<!-- Display played songs -->

		<table id="tracks" class="display" cellspacing="0" width="100%">

			<thead>
			   <th style="color: grey">Cover</th>
			   <th style="color: grey">Artist</th>
			   <th style="color: grey">Track</th>
			   <th style="color: grey">Length (secs)</th>
			   <th style="color: grey">Explicit</th>
			   <th style="color: grey">No. Votes</th>
			</thead>

			<tbody>
				<% @@played.each_key do |t| %>

					<tr id="<%= @@played[t].id %>">		
						<td>								
							<img src="<%= @@played[t].imagepreview["url"] %>"></img>
						</td>
						<td id="artist" style="color: grey">
							<%= @@played[t].artist %>
						</td>
						<td id="title" style="color: grey"><%= @@played[t].name %></td>
						<td style="color: grey"><%= @@played[t].duration_ms / 1000 %></td>
						<td style="color: grey">
							<% if @@played[t].explicit.eql? true %>
								<img src="/explicit.png"></img>
							<% end %>
						</td>
						<td style="color: grey"><%= @@played[t].votes.size() %></td>
					</tr>

					<% end %>

			</tbody>

		</table>
		<% end %>

		 <div id="msgs"></div>

	</div>

</div>

<script type="text/javascript">

	var es = new EventSource('/stream');
	es.onmessage = function(e) {
		
		console.log(e.data);

		var newSongData = JSON.parse(e.data);

		// Get the currently playing song
		var nowPlayingId = $('h4[id*="playing"]').attr('id');
		var prefix = "playing-";
		var startIdx = nowPlayingId.indexOf(prefix) + prefix.length;
		var endIdx = nowPlayingId.length;
		var spotifySongId = nowPlayingId.substring(startIdx, endIdx);

		var newId = newSongData.id;

		// Check ids equal, replace if not from the top "voted" song
		if (newId == spotifySongId) {
			
			console.log("Same song id: " + newId + " play: " + spotifySongId);

		} else {

			console.log("Song changed to " + newId + " artist: " + newSongData.artist + " title: " + newSongData.title);

			// Change the artist, image, newId
			console.log(newSongData.artist);
			console.log(newSongData.name);

			$('#' + nowPlayingId).text('' + newSongData.artist + ' - ' + newSongData.name);
			$('#' + nowPlayingId).attr('id', 'playing' + newId);

			$('#playingImage').attr('src', newSongData.imageurl);
			$('#' + newId).remove();
			console.log("Removed " + '#' + newSongData.id + " " + newSongData.artist);
		}

		// Move playing song to the "played" list
	}

</script>

<script>
    $(document).ready(function(){

	    $("#playpause").click(function(e){

	        e.preventDefault();
	        $.ajax({type: "POST",
	                url: "/playpause",
	                success:function(result){
	        		}
	        });
	    });

	    $("#next").click(function(e){

	        e.preventDefault();
	        $.ajax({type: "POST",
	                url: "/next",
	                success:function(result){
	        		}
	        });
	    });
    });

</script>