<div class="section group">

	<div class="section group" style="margin-top: 20px; margin-bottom: 40px">

			<form class="form-horizontal" role="form" method="POST" target="/tracksearch">
				<div class="form-group">
			            <label for="channelcontrol" class="col-sm-2 control-label">Search by Track:</label>	
			            
			            <div class="col-sm-10">

			            	<input type="textfield"/>

			            </div>				
				</div>
			</form>
	</div>	

	<div class="section group">

		<h2 style="margin-bottom: 20px">Playlist - <%= @playlist.name %> - <%= @playlist.id %></h2>

		<!-- TODO: Display the current song -->
		<table id="tracks" class="display" cellspacing="0" width="100%">

			<thead>
			   <th>Playing?</th>
			   <th>Cover</th>
			   <th>Artist</th>
			   <th>Track</th>
			   <th>Length (secs)</th>
			   <th>Explicit</th>
			   <th>No. Votes</th>
			   <th>Vote</th>
			</thead>

			<tbody>
				<% unless @@trackinfo.size.eql? 0 %>					

					<% advanced_past_current = false %>

					<% @@trackinfo.each_key do |t| %>
						
						<tr>	
							
							<td style="text-align: center">
								<% if @artist.eql? @@trackinfo[t].artist and @title.eql? @@trackinfo[t].name %>						
									<img src="/playing.jpg"></img>	
								<% end %>
							</td>
							
							<td>								
								<img src="<%= @@trackinfo[t].imagepreview["url"] %>"></img>
							</td>
							<td id="artist">
								<a href='<%= t %>'>
									<%= @@trackinfo[t].artist %>
								</a>
							</td>
							<td id="title"><%= @@trackinfo[t].name %></td>
							<td><%= @@trackinfo[t].duration_ms / 1000 %></td>
							<td><%= @@trackinfo[t].explicit %></td>
							<td><%= @@trackinfo[t].votes.size() %></td>
							<td>
								<!-- TODO: Only allow user to vote if:
									* after currently playing song
									* user hasn't voted already
									* this is not the current song
								-->
								<% if advanced_past_current and !@@trackinfo[t].votes.include? request.ip and !@artist.eql? @@trackinfo[t].artist and !@title.eql? @@trackinfo[t].name %>

									<form action="/vote" method="POST">

										<input type="hidden" name="vote" value="<%= t %>">
										<input type="submit" id="" type="button" class="btn btn-success" value="vote up"></input>

									</form>

								<% end %>
							</td>
						</tr>

						<% if @artist.eql? @@trackinfo[t].artist and @title.eql? @@trackinfo[t].name %>
							
							<% advanced_past_current = true %>

						<% end %>

					<% end %>

				<% end %>
			</tbody>

		</table>
	</div>

</div>

<script type="text/javascript">

    $(document).ready(function() {                    

        $('#tracks').dataTable( {
	        "aLengthMenu": [[20, 50, 100, 250, 500, -1], [20, 50, 100, 250, 500, "All"]],
	        "iDisplayLength": 100,
			"deferRender": true,
			"bSort": false, 
			"bProcessing": true,
			"bFilter": false,
			"bPaginate": false,
			"bSortClasses": false,
			"aoColumnDefs": [{ "sClass": "text-align: center", "aTargets": [ 0 ] }]

		});       
	});

</script>

<script type="text/javascript">

	// TODO: Poll the server for the next song every 2 seconds or SSE
	// $(document).ready(function() {

	// 	(function poll(){

	// 	   setTimeout(function(){
	// 	      $.ajax({ url: "/playing", success: function(data) {

	// 	        console.log("Playing " + JSON.stringify(data));

	// 	        // Iterate through all the table rows, set now playing and remove vote buttons
	// 	        // $('tbody tr').each(function() {

	// 	        // 	$(this).find('td input:checked').each(function () {
	// 	        // });

		        
	// 	        poll();

	// 	      }, dataType: "json"});
	// 	  }, 4000);
	// 	})();

	// 	console.log("Check currently playing timer setup");
		
	// });

</script>