<div class="section group">

	<div class="section group" style="margin-top: 20px; margin-bottom: 40px">

		<h2 style="margin-bottom: 20px">Playlist - <%= @playlist.name %> - <%= @playlist.id %></h2>

			<form class="form-horizontal" role="form" method="POST" target="/tracksearch">
				<div class="form-group">
			            <label for="channelcontrol" class="col-sm-2 control-label">Search for track:</label>	
			            
			            <div class="col-sm-10">
			            	<input type="textfield"/>
			            </div>
				</div>
			</form>
	</div>	

	<div class="section group">

		<h3 style="margin-top: 40px; margin-bottom: 20px">Currently Playing<img style="margin-left: 10px" src="/playing.jpg"></img></h3>

		<!-- Currently playing song -->
		<% @@trackinfo.each_key do |t| %>

			<% if @artist.eql? @@trackinfo[t].artist and @title.eql? @@trackinfo[t].name %>						
				<table id="currentlyplaying" class="display" cellspacing="0" width="100%">

					<thead>
					   <th>Cover</th>
					   <th>Artist</th>
					   <th>Track</th>
					   <th>Length (secs)</th>
					   <th>Explicit</th>
					   <th>No. Votes</th>
					</thead>
					<tr>
						<td><img src="<%= @@trackinfo[t].imagefullsize["url"] %>"></img></td>
						<td id="artist">
							<a href='<%= t %>'>
								<%= @@trackinfo[t].artist %>
							</a>
						</td>
						<td id="title"><%= @@trackinfo[t].name %></td>
						<td><%= @@trackinfo[t].duration_ms / 1000 %></td>
						<td><%= @@trackinfo[t].explicit %></td>
						<td><%= @@trackinfo[t].votes.size() %></td>
					</tr>
				</table>

			<% end %>
		<% end %>

		<h3 style="margin-top: 60px; margin-bottom: 20px">Up Next...</h3>

		<!-- Display the remaining songs to vote on -->
		<table id="tracks" class="display" cellspacing="0" width="100%">

			<thead>
			   <th>Cover</th>
			   <th>Artist</th>
			   <th>Track</th>
			   <th>Length (secs)</th>
			   <th>Explicit</th>
			   <th>No. Votes</th>
			   <th>Vote</th>
			</thead>

			<tbody>
				<% unless @@trackinfo.size.eql? 0 %>					

					<% advanced_past_current = false %>

					<% @@trackinfo.each_key do |t| %>

						<% if advanced_past_current %>						
						<tr>	
							
							<td>								
								<img src="<%= @@trackinfo[t].imagepreview["url"] %>"></img>
							</td>
							<td id="artist">
								<a href='<%= t %>'>
									<%= @@trackinfo[t].artist %>
								</a>
							</td>
							<td id="title"><%= @@trackinfo[t].name %></td>
							<td><%= @@trackinfo[t].duration_ms / 1000 %></td>
							<td><%= @@trackinfo[t].explicit %></td>
							<td><%= @@trackinfo[t].votes.size() %></td>
							<td>
								<!-- TODO: Only allow user to vote if:
									* after currently playing song
									* user hasn't voted already
									* this is not the current song
								-->
								<% if advanced_past_current and !@@trackinfo[t].votes.include? request.ip and !@artist.eql? @@trackinfo[t].artist and !@title.eql? @@trackinfo[t].name %>

									<form action="/vote" method="POST">

										<input type="hidden" name="vote" value="<%= t %>">
										<input type="submit" id="" type="button" class="btn btn-success" value="vote up"></input>

									</form>

								<% end %>
							</td>
						</tr>
						<% end %>

						<% if @artist.eql? @@trackinfo[t].artist and @title.eql? @@trackinfo[t].name %>
							
							<% advanced_past_current = true %>

						<% end %>

					<% end %>

				<% end %>
			</tbody>

		</table>
	</div>

</div>

<script type="text/javascript">

	// TODO: Poll the server for the next song every 2 seconds or SSE
	// $(document).ready(function() {

	// 	(function poll(){

	// 	   setTimeout(function(){
	// 	      $.ajax({ url: "/playing", success: function(data) {

	// 	        console.log("Playing " + JSON.stringify(data));

	// 	        // Iterate through all the table rows, set now playing and remove vote buttons
	// 	        // $('tbody tr').each(function() {

	// 	        // 	$(this).find('td input:checked').each(function () {
	// 	        // });

		        
	// 	        poll();

	// 	      }, dataType: "json"});
	// 	  }, 4000);
	// 	})();

	// 	console.log("Check currently playing timer setup");
		
	// });

</script>