<div class="section group">

	<div class="section group" style="margin-top: 20px; margin-bottom: 40px">

			<form class="form-horizontal" role="form" method="POST" target="/tracksearch">
				<div class="form-group">
			            <label for="channelcontrol" class="col-sm-2 control-label">Search by Track:</label>	
			            
			            <div class="col-sm-10">

			            	<input type="textfield"/>

			            </div>				
				</div>
			</form>
	</div>	

	<div class="section group">

		<h2 style="margin-bottom: 20px">Playlist - <%= @playlist.name %> - <%= @playlist.id %></h2>
		<table id="tracks" class="display" cellspacing="0" width="100%">

			<thead>
			   <th>Artist</th>
			   <th>Track</th>
			   <th>Length (secs)</th>
			   <th>Explicit</th>
			   <th>Track Number</th>
			   <th>Vote</th>
			</thead>

			<tbody>
				<% unless @trackinfo.size.eql? 0 %>					

					<% @trackinfo.each_key do |t| %>
						
						<tr>
							<td>
								<a href='<%= t %>'>
									<%= @trackinfo[t].artists[0].name %>
								</a>
							</td>
							<td><%= @trackinfo[t].name %></td>
							<td><%= @trackinfo[t].duration_ms / 1000 %></td>
							<td><%= @trackinfo[t].explicit %></td>
							<td><%= @trackinfo[t].track_number %></td>
							<td><button type="button" class="btn btn-success">vote up</button></td>
						</tr>

					<% end %>

				<% end %>
			</tbody>

		</table>
	</div>

	<div class="section group" style="margin-top: 20px; margin-bottom: 40px">
		<iframe src="https://embed.spotify.com/?uri=spotify:user:jph98:playlist:3HcKvi40yJ6F4ZmjF7anAI" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
	</div>

</div>

<script type="text/javascript">

    $(document).ready(function() {                    
        $('#tracks').dataTable( {
	        "aLengthMenu": [[20, 50, 100, 250, 500, -1], [20, 50, 100, 250, 500, "All"]],
	        "iDisplayLength": 100,
			"deferRender": true,
			"bSort": false, 
			"bProcessing": true,
			"bFilter": false,
			"bPaginate": false,
			"aoColumnDefs": [{ 'bSortable': false, 'aTargets': [ 0 ] }]

		});       
	});
</script>

<script type="text/javascript">

	// change to btn-default if the user has already voted, this will remove the vote afterwards
	$(document).ready(function() {    

 		// var artist = $("artist-name").value();
 		// console.log(artist);
 	}

</script>