<div class="section group">

	<div class="section group" style="margin-top: 20px; margin-bottom: 40px">

		<h2 style="margin-bottom: 5px">Playlist - <%= @playlist.name %> - <%= @playlist.id %></h2>

		<h3 style="margin-top: 60px; margin-bottom: 20px">Search</h3>

		<form class="form-horizontal" role="form" method="POST" target="/tracksearch">
			<div class="form-group">
		            <label for="channelcontrol" class="col-sm-2 control-label">Track:</label>	
		            <div class="col-sm-10">
		            	<input type="textfield"/>
		            </div>
			</div>
		</form>
	</div>	

	<!-- Currently playing song -->
	<div class="section group">

		<h3 style="margin-top: 40px; margin-bottom: 20px">Currently Playing<img style="margin-left: 10px" src="/playing.jpg"></img></h3>

		<table id="currentlyplaying" class="display" cellspacing="0" width="100%">

			<thead>
			   <th>Cover</th>
			   <th>Artist</th>
			   <th>Track</th>
			   <th>Length (secs)</th>
			   <th>Explicit</th>
			   <th>No. Votes</th>
			</thead>
			<tr>
				<td><img src="<%= @@playing.imagefullsize["url"] %>"></img></td>
				<td id="artist">
					<a href='<%= @@playing.id %>'>
						<%= @@playing.artist %>
					</a>
				</td>
				<td id="title"><%= @@playing.name %></td>
				<td><%= @@playing.duration_ms / 1000 %></td>
				<td><%= @@playing.explicit %></td>
				<td><%= @@playing.votes.size() %></td>
			</tr>
		</table>

		<h3 style="margin-top: 60px; margin-bottom: 20px">Up Next...</h3>

		<!-- Display voted songs -->

		<table id="tracks" class="display" cellspacing="0" width="100%">

			<thead>
			   <th>Cover</th>
			   <th>Artist</th>
			   <th>Track</th>
			   <th>Length (secs)</th>
			   <th>Explicit</th>
			   <th>No. Votes</th>
			   <th>Vote</th>
			</thead>

			<tbody>
				<% @@voted.each_key do |t| %>

					<tr>	
						<td>								
							<img src="<%= @@voted[t].imagepreview["url"] %>"></img>
						</td>
						<td id="artist">
							<a href='<%= t %>'>
								<%= @@voted[t].artist %>
							</a>
						</td>
						<td id="title"><%= @@voted[t].name %></td>
						<td><%= @@voted[t].duration_ms / 1000 %></td>
						<td><%= @@voted[t].explicit %></td>
						<td><%= @@voted[t].votes.size() %></td>
						<td>
							<% if !@@voted[t].votes.include? request.ip %>

								<form action="/vote" method="POST">

									<input type="hidden" name="vote" value="<%= t %>">
									<input type="submit" id="" type="button" class="btn btn-success" value="vote up"></input>

								</form>

							<% end %>
						</td>
					</tr>

				<% end %>

				<!-- Display other (songs that have not been voted on -->
				<% @@other.each_key do |t| %>

					<tr>	
						<td>								
							<img src="<%= @@other[t].imagepreview["url"] %>"></img>
						</td>
						<td id="artist">
							<a href='<%= t %>'>
								<%= @@other[t].artist %>
							</a>
						</td>
						<td id="title"><%= @@other[t].name %></td>
						<td><%= @@other[t].duration_ms / 1000 %></td>
						<td><%= @@other[t].explicit %></td>
						<td><%= @@other[t].votes.size() %></td>
						<td>
							<% if !@@other[t].votes.include? request.ip %>

								<form action="/vote" method="POST">

									<input type="hidden" name="vote" value="<%= t %>">
									<input type="submit" id="" type="button" class="btn btn-success" value="vote up"></input>

								</form>

							<% end %>
						</td>
					</tr>

				<% end %>

			</tbody>

		</table>

		<h3 style="margin-top: 60px; margin-bottom: 20px">Already Played...</h3>

		<!-- Display played songs -->

		<table id="tracks" class="display" cellspacing="0" width="100%">

			<thead>
			   <th style="color: grey">Cover</th>
			   <th style="color: grey">Artist</th>
			   <th style="color: grey">Track</th>
			   <th style="color: grey">Length (secs)</th>
			   <th style="color: grey">Explicit</th>
			   <th style="color: grey">No. Votes</th>
			</thead>

			<tbody>
				<% @@played.each_key do |t| %>

					<tr>	
						<td>								
							<img src="<%= @@played[t].imagepreview["url"] %>"></img>
						</td>
						<td id="artist" style="color: grey">
							<%= @@played[t].artist %>
						</td>
						<td id="title" style="color: grey"><%= @@played[t].name %></td>
						<td style="color: grey"><%= @@played[t].duration_ms / 1000 %></td>
						<td style="color: grey"><%= @@played[t].explicit %></td>
						<td style="color: grey"><%= @@played[t].votes.size() %></td>
					</tr>

					<% end %>

			</tbody>

		</table>

	</div>

</div>

<script type="text/javascript">

	// TODO: Poll the server for the next song every 2 seconds or SSE
	// $(document).ready(function() {

	// 	(function poll(){

	// 	   setTimeout(function(){
	// 	      $.ajax({ url: "/playing", success: function(data) {

	// 	        console.log("Playing " + JSON.stringify(data));

	// 	        // Iterate through all the table rows, set now playing and remove vote buttons
	// 	        // $('tbody tr').each(function() {

	// 	        // 	$(this).find('td input:checked').each(function () {
	// 	        // });

		        
	// 	        poll();

	// 	      }, dataType: "json"});
	// 	  }, 4000);
	// 	})();

	// 	console.log("Check currently playing timer setup");
		
	// });

</script>